<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>reviewSubmit</servlet-name>
        <servlet-class>reviewSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviewSubmit</servlet-name>
        <url-pattern>/reviewSubmit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reviewSearch</servlet-name>
        <servlet-class>reviewSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviewSearch</servlet-name>
        <url-pattern>/reviewSearch</url-pattern>
    </servlet-mapping>
       <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>checkLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MJHashMap</servlet-name>
        <servlet-class>MJHashMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MJHashMap</servlet-name>
        <url-pattern>/MJHashMap</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reviewEdit</servlet-name>
        <servlet-class>reviewEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviewEdit</servlet-name>
        <url-pattern>/reviewEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reviewDisplay</servlet-name>
        <servlet-class>reviewDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviewDisplay</servlet-name>
        <url-pattern>/reviewDisplay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>submitOrder</servlet-name>
        <servlet-class>submitOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submitOrder</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>shoppingcart</servlet-name>
        <servlet-class>shoppingcart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingcart</servlet-name>
        <url-pattern>/shoppingcart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>itemRemoveFromCart</servlet-name>
        <servlet-class>itemRemoveFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemRemoveFromCart</servlet-name>
        <url-pattern>/itemRemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>displaySalesmen</servlet-name>
        <servlet-class>displaySalesmen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displaySalesmen</servlet-name>
        <url-pattern>/displaySalesmen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>infoUpdate</servlet-name>
        <servlet-class>infoUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>infoUpdate</servlet-name>
        <url-pattern>/infoUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userInfoUpdate</servlet-name>
        <servlet-class>userInfoUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfoUpdate</servlet-name>
        <url-pattern>/userInfoUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderItem</servlet-name>
        <servlet-class>orderItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderItem</servlet-name>
        <url-pattern>/orderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>displayOrderedItem</servlet-name>
        <servlet-class>displayOrderedItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayOrderedItem</servlet-name>
        <url-pattern>/displayOrderedItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderItemComplete</servlet-name>
        <servlet-class>orderItemComplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderItemComplete</servlet-name>
        <url-pattern>/orderItemComplete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>removeOrderedItem</servlet-name>
        <servlet-class>removeOrderedItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeOrderedItem</servlet-name>
        <url-pattern>/removeOrderedItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindReviews</servlet-name>
        <servlet-class>FindReviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindReviews</servlet-name>
        <url-pattern>/FindReviews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Trending</servlet-name>
        <servlet-class>Trending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trending</servlet-name>
        <url-pattern>/Trending</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>userInfoDelete</servlet-name>
        <servlet-class>userInfoDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfoDelete</servlet-name>
        <url-pattern>/userInfoDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>com.ajax.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>LoginValidate</servlet-name>
        <servlet-class>LoginValidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidate</servlet-name>
        <url-pattern>/LoginValidate</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>FetchPatientDetails</servlet-name>
        <servlet-class>FetchPatientDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchPatientDetails</servlet-name>
        <url-pattern>/FetchPatientDetails</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>FetchPatientPrescriptions</servlet-name>
        <servlet-class>FetchPatientPrescriptions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchPatientPrescriptions</servlet-name>
        <url-pattern>/FetchPatientPrescriptions</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>UpdatePatientPrescriptions</servlet-name>
        <servlet-class>UpdatePatientPrescriptions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePatientPrescriptions</servlet-name>
        <url-pattern>/UpdatePatientPrescriptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewPatient</servlet-name>
        <servlet-class>NewPatient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPatient</servlet-name>
        <url-pattern>/NewPatient</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>addMedicine</servlet-name>
        <servlet-class>addMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMedicine</servlet-name>
        <url-pattern>/addMedicine</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>addPharmacy</servlet-name>
        <servlet-class>addPharmacy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPharmacy</servlet-name>
        <url-pattern>/addPharmacy</url-pattern>
    </servlet-mapping>

</web-app>
